In [18]:
from PIL import Image
import pandas as pd

In [2]:
im = Image.open('buzz.jpg')

In [6]:
w,h = im.size
pixels = im.getcolors(w*h)

In [8]:
most_frequent_pixel = pixels[0]

In [9]:
most_frequent_pixel

(116195, (255, 255, 255))

In [10]:
for count, color in pixels:
    if count > most_frequent_pixel[0]:
        most_frequent_pixel = (count, color)

In [11]:
most_frequent_pixel

(116195, (255, 255, 255))

In [12]:
## fun with PIL's image class
im1 = Image.open('sg.jpg')
im2 = Image.open('gorilla.jpg')

In [15]:
im1.size, im2.size

((512, 512), (600, 490))

In [ ]:
def color_shift(pixel,color_list):

In [28]:
color_dict = {
    'white' : (255,255,255),
    'black' : (0,0,0),
    'red' : (255,0,0),
    'lime' : (0,255,0),
    'blue' : (0,0,255),
    'yellow' : (255,255,0),
    'cyan' : (0,255,255),
    'magenta' : (255,0,255)
    
}
df1 = pd.DataFrame.from_dict(color_dict, orient='index')
df1

           0    1    2
white    255  255  255
black      0    0    0
red      255    0    0
lime       0  255    0
blue       0    0  255
yellow   255  255    0
cyan       0  255  255
magenta  255    0  255

In [29]:
df2 = pd.DataFrame(list(im2.getdata()))
df2

          0    1    2
0       255  255  255
1       255  255  255
2       255  255  255
3       255  255  255
4       255  255  255
5       255  255  255
6       255  255  255
7       255  255  255
8       254  254  254
9       253  253  253
10      255  255  255
11      251  251  251
12      254  254  254
13      255  255  255
14      253  253  253
15      250  250  250
16      254  255  255
17      254  255  255
18      254  255  255
19      254  255  255
20      254  255  255
21      254  255  255
22      254  255  255
23      254  255  255
24      254  254  254
25      254  254  254
26      254  254  254
27      254  254  254
28      254  254  254
29      254  254  254
...     ...  ...  ...
293970  255  255  255
293971  255  255  255
293972  255  255  255
293973  255  255  255
293974  255  255  255
293975  255  255  255
293976  255  255  255
293977  255  255  255
293978  255  255  255
293979  255  255  255
293980  255  255  255
293981  255  255  255
293982  255  255  255
293983  255  255  255
293984  255  255  255
293985  255  255  255
293986  255  255  255
293987  255  255  255
293988  255  255  255
293989  255  255  255
293990  255  255  255
293991  255  255  255
293992  255  255  255
293993  255  255  255
293994  255  255  255
293995  255  255  255
293996  255  255  255
293997  255  255  255
293998  255  255  255
293999  255  255  255

[294000 rows x 3 columns]

In [37]:
result = abs(df2.iloc[8,:] - df1)
result

           0    1    2
white      1    1    1
black    254  254  254
red        1  254  254
lime     254    1  254
blue     254  254    1
yellow     1    1  254
cyan     254    1    1
magenta    1  254    1

In [45]:
result_sum = result.sum(axis = 1)
result_sum

white        3
black      762
red        509
lime       509
blue       509
yellow     256
cyan       256
magenta    256
dtype: int64

In [60]:
result_sum[result_sum == result_sum.min()].index[0]

'white'